[mat-table]{
  width: 100%;
}

.mat-row:hover {
  background: whitesmoke;
}

.mat-column-actions {
  text-align: center;
}

[mat-icon-button] {
  margin: 5px;
  color: white;
  background-color: red;
  opacity: 70%;
}
[mat-icon-button]:hover{
  opacity: 100%;
}
