<div class="user-cards" *ngIf="dataSource">
  <mat-card *ngFor="let userData of dataSource" class="mat-elevation-z5">
    <mat-card-title>{{userData.username}}</mat-card-title>
    <mat-card-subtitle>{{userData.fullname}} </mat-card-subtitle>

    <mat-card-content>
      <div class="user-image">
        <img src="https://picsum.photos/200" [alt]="userData.username" />
      </div>
      <div class="user-detail">
        <div class="user-detail-row">
          <strong>Id : </strong>
          <span> {{userData.id}} </span>
        </div>
        <div class="user-detail-row">
          <strong>Username : </strong>
          <span> {{userData.username}} </span>
        </div>
        <div class="user-detail-row">
          <strong>FullName : </strong>
          <span> {{userData.fullname}} </span>
        </div>
        <div class="user-detail-row">
          <strong>Email : </strong>
          <span> {{userData.email}} </span>
        </div>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-stroked-button (click)="viewUser(userData.id)"> View </button>
      <!-- <button mat-stroked-button color="primary" (click)="editUser(userData.id)"> Edit </button> -->
      <button mat-stroked-button color="warn" (click)="deleteUser(userData.id)"> Delete </button>
    </mat-card-actions>

  </mat-card>
</div>