mat-card {
  margin: 20px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
}

mat-card-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.profile-detail {
  flex: 4;
  [type="submit"] {
    width: 100%;
  }
}

.profile-image {
  flex: 1;
  overflow: hidden;

  min-width: 200px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  img {
    width: 200px;
    aspect-ratio: 1/1;
  }
}

.profile-detail-row {
  margin-block: 0.25em;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 80px 5px 1fr;
  label {
    min-width: 80px;
    line-height: 40px;
    padding-inline: 4px;
  }
  span {
    font-weight: 500;
    line-height: 40px;
    // margin-right: 10px;
  }

  input {
    max-height: 30px;
    font-weight: 500;
    flex: 1;
    background: #fff;
    border: 1px solid #8885;
    padding-inline: 10px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  input.error {
    border-color: red !important;
  }

  input:disabled {
    border-color: transparent;
  }
  input:focus {
    border-color: #888;
  }
  div {
    font-size: smaller;
    grid-area: 2/3/3/4;
    padding: 0 8px;
    background: #f003;
  }
}
