<mat-card routerLink="categories" class="mat-elevation-z5">
  <mat-icon >category</mat-icon>
  <mat-card-footer>
    <div class="mat-h2">Categories</div>
    <div class="mat-h4">Manage Categories</div>
  </mat-card-footer>
</mat-card>
<mat-card routerLink="events"  class="mat-elevation-z5">
  <mat-icon>home</mat-icon>
  <mat-card-footer>
    <div class="mat-h2">Events</div>
    <div class="mat-h4">Manage Events</div>
  </mat-card-footer>
</mat-card>
<mat-card routerLink="users" class="mat-elevation-z5">
  <mat-icon>people</mat-icon>
  <mat-card-footer>
    <div class="mat-h2">Users</div>
    <div class="mat-h4">Manage Users</div>
  </mat-card-footer>
</mat-card>
